{
  "root": true,
  "ignorePatterns": [
    "**/lib/**/*",
    "**/node_modules/**/*",
    "!.husky",
    "!*.json"
  ],
  
  "plugins": [
    "import"
  ],
  "parser": "tf-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "rules": {
    "spaced-comment": "warn",
    "import/no-unresolved": "off",
    "import/namespace": "off",
    "import/no-relative-packages": "error",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroupsExcludedImportTypes": [
          "builtin"
        ],
        "newlines-between": "always"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.tf"
      ],
      "parserOptions": {
      }
    }
  ]
}